@model ArgentinahtlMVC.Models.SeasonModel

@{
    Layout = null;
    ViewBag.Title = "Crear/Modificar Temporada";
    
    Html.EnableUnobtrusiveJavaScript();
    Html.EnableClientValidation();
}

<script type="text/javascript">
    $(function () {
        var options = {
            dateFormat: 'dd/mm/yy',
            yearRange: '-1:+0'
        };

        $.datepicker.setDefaults({
            dateFormat: options.dateFormat,
            yearRange: options.yearRange
        });

        $('#StartDate, #EndDate').datepicker();
        $('#DateOfRegistration').disable();

        $('#StartDate').change(function () {
            $('#EndDate').datepicker('option', { minDate: addTimeToDate(1, 'd', $(this).datepicker('getDate'), false) });
        });

        $('#StartDate').change();

        $('#SeasonName').focus();
    });

    function createEditSeason() {
        var message = 'Error al guardar la temporada.';
        var messageType = 'error';
        
        var dateParts = $('#StartDate').val().split('/');
        var startDate = new Date(dateParts[2], (dateParts[1] - 1), dateParts[0]);

        dateParts = $('#EndDate').val().split('/');
        var endDate = new Date(dateParts[2], (dateParts[1] - 1), dateParts[0]);

        dateParts = $('#DateOfRegistration').val().split('/');
        var dateOfRegistration = new Date(dateParts[2], (dateParts[1] - 1), dateParts[0]);

        $.ajax({
            type: "POST",
            url: '@(Model.SeasonId == null ? Url.Action("CreateSeason", "Lodging") : Url.Action("EditSeason", "Lodging"))',
            data: {
                SeasonId: $('#SeasonId').val(),
                LodgingId: $('#LodgingId').val(),
                SeasonName: $('#SeasonName').val(),
                SeasonTypeId: $('#SeasonTypeId').val(),
                StartDate: startDate.toDateString(),
                EndDate: endDate.toDateString(),
                DateOfRegistration: dateOfRegistration.toDateString(),
                Deadline: $('#Deadline').val(),
                Enabled: $('#Enabled').val()
            },
            dataType: "json",
            traditional: true,
            success: function (data) {
                if (data.success) {
                    message = 'Temporada guardada con éxito';
                    messageType = 'success';
                    $.colorbox.close();
                }

                //$.colorbox.close();
                showNotification(message, messageType);
            },
            error: function (data) {
                //$.colorbox.close();
                showNotification(message, messageType);
            }
        });


        refreshSeasonList();

        return false;
    }
</script>

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("CreateSeason", "Lodging", FormMethod.Post, new { id = "season_data" }))
{
    @Html.HiddenFor(m => m.SeasonId)
    @Html.HiddenFor(m => m.LodgingId)
    @Html.HiddenFor(m => m.Enabled)

    <table class="borderless">
        <tr><td>@Html.LabelFor(m => m.SeasonName):</td><td>@Html.TextBoxFor(m => m.SeasonName)</td></tr>
        <tr><td>@Html.LabelFor(m => m.SeasonName):</td><td>@Html.DropDownListFor(m => m.SeasonTypeId, 
            @Model.SeasonTypes.Select(st => new SelectListItem { Text = st.SeasonTypeName, Value = st.SeasonTypeId.ToString() }))</td></tr>
        <tr><td>@Html.LabelFor(m => m.StartDate):</td><td>@Html.TextBoxFor(m => m.StartDate, "{0:dd/MM/yyyy}")</td></tr>
        <tr><td>@Html.LabelFor(m => m.EndDate):</td><td>@Html.TextBoxFor(m => m.EndDate, "{0:dd/MM/yyyy}")</td></tr>
        <tr><td>@Html.LabelFor(m => m.DateOfRegistration):</td><td>@Html.TextBoxFor(m => m.DateOfRegistration, "{0:dd/MM/yyyy}")</td></tr>
        <tr><td>@Html.LabelFor(m => m.Deadline):</td><td>@Html.TextBoxFor(m => m.Deadline)</td></tr>
    
        <tr><td colspan="2"><a href="#" onclick="createEditSeason()" class="link-button">Guardar</a></td></tr>

        @if (ViewBag.Message != null)
        {
            <tr><td colspan="2" class="message">@ViewBag.Message</td></tr>
        }
    </table>

    @Html.ValidationSummary(false, "La temporada no pudo ser guardada. Por favor, revise los siguientes errores:")

        Html.EndForm();
}