<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_HeadScripts")

    @*<script src="@Url.Content("http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.7.2.js")" type="text/javascript"></script>*@
    
    
    @*<script src="@Href("~/Scripts/jquery.mCustomScrollbar.min.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Scripts/check_functions.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/check_functions.child.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-2.0.3.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.nicescroll.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/moment.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.min.js")" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="@Href("~/Content/bootstrap-datetimepicker.min.css")" />
    <script src="@Url.Content("~/Scripts/spin.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modal-ajax-calls.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $(".result-list").each(function () {
                $(this).niceScroll();
            });

            $(".result-list").focus();
        });

    </script>
    <style>
        #supermap {
            height: 200px;
            width: 100%;
        }
    </style>
</head>
<body id="results_body">
    <div id="results_table">
        @RenderBody()
    </div>
</body>
</html>


