@model Ineltur.CuentasCorrientes.Modelos.ModeloListaCuentas

@{
    ViewBag.Title = "Cuentas Corrientes";
}

<h2>@ViewBag.Title <span>@Html.ActionLink("Volver", "Menu", "Administracion")</span></h2>

<table id="Cuentas">
<thead><tr><th>Usuario</th><th>Nombre</th><th>Activado?</th><th>Forma Pago</th><th>Saldo</th><th>Acciones</th></tr></thead>
<tbody>
@foreach (var u in Model.Cuentas) {
    var id = new { id = u.IdUsuario };
    
    <tr>
        <td>@u.NombreUsuario</td>
        <td>@u.Nombre</td>
        <td>@(u.Activo ? "sí" : "no")</td>
        <td>@u.FormaPago</td>
        <td>@u.Saldo</td>
        <td>
            @Html.ActionLink("Datos", "DatosCuenta", id)
            @if (u.FormaPago.HasValue && u.FormaPago.Value == Ineltur.Datos.FormaPago.Cuenta) {
                @:&#160;
                @Html.ActionLink("Movimientos", "DetallesCuenta", id)
                @:&#160;
                @Html.ActionLink("Registrar Pago", "Pago", id)
            }
        </td>
    </tr>
}
</tbody>
</table>
@if (ViewBag.Message != null)
{
    <br /><span class="message">@ViewBag.Message</span>
}