@model CheckArgentina.Models.ReservationModel 
@using CheckArgentina.Commons
           
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="@Href("~/Content/c-css.ashx?UserKey="+SessionData.User.UserId)" />
    <link rel="stylesheet" type="text/css" href="@Href("~/Content/bootstrap.min.css")" />
    <script src="@Url.Content("http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.7.2.min.js")" type="text/javascript"></script>  
    <script src="@Url.Content("http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.21/jquery-ui.min.js")" type="text/javascript" ></script>

    <script src="@Href("~/Scripts/check_functions.js")" type="text/javascript" ></script>
</head>
<body id="results_body">
    <div class="panel">
        <div class="panel-heading">
            <h3>Éxito</h3>
        </div>
        <div class="panel-body">
            <p>Estimado/a @SessionData.User.UserFirstName.ToString(),</p>
            <p>Le informamos que su reserva se ha realizado satisfactoriamente. Se ha enviado un mail a la dirección @Model.ReservationOwner.TravelerEmail con los datos correspondientes.</p>
            <p>Muchas gracias por confiar en nosotros. Lo esperamos nuevamente.</p>
        </div>
    </div>    
</body>
</html>
