@model ArgentinahtlMVC.Models.ChangePasswordModel

@{
    ViewBag.Title = "Change Password";
    Html.EnableUnobtrusiveJavaScript();
    Html.EnableClientValidation();
}

@using (Html.BeginForm()) {
    <div id="loginform">
        <div>
            <span class="legend">@ViewBag.Title</span>

            <div class="editor-label">
                @Html.LabelFor(m => m.OldPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.OldPassword)
                @Html.ValidationMessageFor(m => m.OldPassword)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.NewPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.ConfirmPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>

            <p>
                <input type="submit" value="Change Password" />
                <span class="button">@Html.ActionLink("Cancel", "Menu", "Management")</span>
            </p>

            <p class="justified">New passwords are required to be a minimum of @ViewBag.PasswordLength characters in length.</p>

            @Html.ValidationSummary(false, "Password change failed. Please correct the following errors:")
        </div>
    </div>
}