<html>
<head>
<title>Reserva</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</head>
<body>
Dear @Model.NombreCliente,
<br /><br />
through this mail we would like to inform you that your reservation with code @Model.CodigoReserva
has been canceled. Below we provide you with the detailed data of your reservation.
<br /><br />
<table border="1">
<tr>
    <td><b>Traveler:</b></td>
    <td colspan="3">@Model.NombreCliente</td>
</tr>
<tr>
    <td><b>Lodging:</b></td>
    <td colspan="3">@Model.Alojamiento</td>
</tr>
<tr>
    <td><b>Reservation Code:</b></td>
    <td>@Model.CodigoReserva</td>
    <td><b>Confirmation Code:</b></td>
    <td>@Model.CodigoConfirmacion</td>
</tr>
<tr>
    <td><b>Agency:</b></td>
    <td colspan="3">@Model.Agencia</td>
</tr>
<tr>
    <td><b>Observations:</b></td>
    <td colspan="3">@Model.Observaciones</td>
</tr>
<tr>
    <td><b>Cancelation Policies:</b></td>
    <td colspan="3">@Model.PoliticasCancelacion</td>
</tr>
</table>
<table border="1">
<tr>
<th>Descripci&oacute;n</th><th># of units</th><th>Check in</th>
<th>Check out</th><th>Travelers</th>
</tr>
@for (int i = 0; i < Model.Detalles.Length; i++)
{
    var detalle = Model.Detalles[i];
<tr>
<td>@detalle.Descripcion</td><td>@detalle.Cantidad</td>
<td>@detalle.FechaInicial.ToShortDateString()</td><td>@detalle.FechaFinal.ToShortDateString()</td>
<td>@Model.CantidadPasajeros[i].ToString()</td>
</tr>
}
</table>
* Reservation with charge to Ineltur Viajes
<br /><br />
Yours sincerely,
<br /><br />
@*<a href=http://200.85.184.11:8090"><img src="http://200.85.184.11:8090/Content/Images/Logo.png" alt="Check Argentina" style="width:200px"/></a>*@
<img src="http://www.ineltur.com/images/logo2010.gif" alt="Ineltur Viajes" style="width:200px"/>
</body>
</html>